$speed: .4s;
$easing: ease-in-out;
$padding: 20px;
$player1: #ff5142;
$player2: #4168ff;

@import url('https://fonts.googleapis.com/css?family=Bevan|Roboto');
@import 'base/elements';
@import 'components/webrtc-signaling';
@import 'components/board';
@import 'components/board-grid';
@import 'components/card';
@import 'components/mini-board';
@import 'components/piece';
@import 'components/board-grid_tile';
@import 'components/button';
