$speed: .4s;
$easing: ease-in-out;
$padding: 20px;
$player1: #ff5142;
$player2: #4168ff;
$breakpoint: 940px;

@import url('https://fonts.googleapis.com/css?family=Bevan|Roboto');
@import 'base/elements';
@import 'components/board';
@import 'components/piece';
@import 'components/deck';
@import 'components/board-wrapper';
@import 'components/onitama';
@import 'components/card';
@import 'components/mini-board';
