<div class="webrtc-signaling-answerer">
    <div class="step step-1">
        <h1>Click to copy the connection key</h1>
        <textarea id="webrtc-copy-answer"></textarea>
        <button class="clipboard copy-answer">Copy connection key</button>
    </div>

    <div class="step step-2">
        <h1>Send it to your buddy and wait...</h1>
    </div>
</div>
