<div class="webrtc-signaling-initiator">
    <div class="step step-1">
        <h1>Click to copy URL</h1>
        <textarea id="webrtc-offer-url"></textarea>
        <button class="clipboard copy-offer-url" data-clipboard-target="#webrtc-offer-url">Copy url</button>
    </div>

    <div class="step step-2">
        <h1>Now send the link to your buddy and paste his/her connection key below.</h1>
        <textarea id="webrtc-paste-answer"></textarea>
        <button>Connect</button>
    </div>
</div>