<div class="webrtc-signaling initiator">
    <div class="step step-1">
        <h2>Step 1 of 2. Click to copy the url for your buddy.</h2>
        <input type="text" id="webrtc-offer-url">
        <button class="button copy-offer-url">Copy url</button>
    </div>

    <div class="step step-2">
        <h2>Step 2 of 2. The url is copied to your clipboard. Send it to your buddy and paste his/her connection key.</h2>
        <textarea id="webrtc-paste-answer"></textarea>
        <button class="button">Connect</button>
    </div>
</div>