<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Onitama</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
        <script type="module" src="javascript/app.js"></script>
    </head>

    <body>

        <div class="board" id="board"></div>

    </body>
</html>

