<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Onitama</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link href="css/styles.css" rel="stylesheet" />
        <script type="module" src="javascript/app.js"></script>
    </head>

    <body>

    <div class="webrtc-signaling-initiator">
        <div class="step step-1">
            <textarea id="webrtc-offer-url"></textarea>
            <button class="clipboard copy-offer-url" data-clipboard-target="#webrtc-offer-url">Copy url</button>
        </div>

        <div class="step step-2">
            <textarea id="webrtc-paste-answer"></textarea>
            <button>Connect</button>
        </div>
    </div>

    <div class="webrtc-signaling-answerer">
        <div class="step step-1">
            <textarea id="webrtc-copy-answer"></textarea>
            <button class="clipboard" data-clipboard-target="#webrtc-copy-answer">Copy connection key</button>
        </div>
    </div>

    </body>
</html>

