<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Onitama</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link href="css/styles.css" rel="stylesheet" />
        <script type="module" src="javascript/app.js"></script>
    </head>

    <body>

    <%- partial("partials/signaling-initiator.ejs") %>
    <%- partial("partials/signaling-answerer.ejs") %>

    <%- partial("partials/board.ejs") %>

    </body>
</html>

