.mini-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1px;
  width: 12vmin;
  height: 12vmin;
  margin: 10px auto;

  .tile {
    background-color: #ddd;
  }

  .set {
    background-color: gray;
    z-index: 1;
  }

  .self {
    background-color: black;
    z-index: 1;
  }
}
