.board-grid {
  grid-area: 3 / 2 / 3 / 4;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 3px;
  align-items: center;
  justify-items: center;
}