.board-grid {
  grid-area: 2 / 2 / 2 / 4;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 3px;
  align-items: center;
  justify-items: center;

  .tile {
    width: 100%;
    height: 100%;
    background-color: rgba(blue, .3);


    &[data-x="3"][data-y="1"], &[data-x="3"][data-y="5"] {
      background-color: rgba(green, .3);
    }

    &.highlight {
      background-color: rgba(orange, .5) !important;
    }

    &.hover {
      background-color: rgba(black, .7) !important;
    }
  }

  .piece {
    transition: all $speed $easing;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 2;
    background-color: rgba(red, .3);
    cursor: pointer;

    &.master {
      background-color: rgba(yellow, .8);
    }

    &.selected {
      border: 4px solid black;
    }
  }
}