.board-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;

  .deck.player2 {
    transform: rotate(180deg);
  }
}

.left-wrapper {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  justify-items: center;
}

[data-webrtc-role="answerer"] {
  .board {
    transform: rotate(180deg);
  }

  .deck.player1 {
    transform: rotate(180deg);
  }

  .deck.player2 {
    transform: rotate(0);
  }
}