.board {
  display: grid;
  grid-gap: 4px;
  align-items: stretch;
  justify-items: stretch;
  margin: 0 10px;
  width: calc(100vmin - 20px);
  height: calc(100vmin - 20px);
  position: relative;

  .tile {
    background-color: #cecece;
    transition: background $speed $easing, box-shadow $speed $easing;

    &.highlight {
      background-color: #ffdd86;
      box-shadow: 0 0 0 10px inset #ffdd86;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 0 10px inset rgba(#b9a361, .4);
      }
    }
  }
}

@media (orientation: landscape) {
  .board {
    margin: 10px 0;
  }
}

@media (min-width: 1280px) {
  .board {
    width: 700px;
    height: 700px;
  }
}