.board {
  display: grid;
  grid-gap: 4px;
  align-items: stretch;
  justify-items: stretch;
  margin: 0 10px;
  width: calc(100vmin - 20px);
  height: calc(100vmin - 20px);

  .tile {
    background-color: #cecece;
  }
}

@media (orientation: landscape) {
  .board {
    margin: 10px 0;
  }
}
