.board-wrapper {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  height: 100%;

  .deck.player2 {
    transform: rotate(180deg);
  }
}

@media (orientation: portrait) {
  .board-wrapper {
    flex-direction: column;
  }
}

@media (min-width: 1280px) {
  .board-wrapper {
    justify-content: center;
    align-items: center;
  }
}

[data-webrtc-role="answerer"] {
  .board {
    transform: rotate(180deg);
  }

  .deck.player1 {
    transform: rotate(180deg);
  }

  .deck.player2 {
    transform: rotate(0);
  }

  @media (orientation: portrait) {
    .board-wrapper {
      flex-direction: column-reverse;
    }
  }

  @media (min-width: 1280px) {
    .board-wrapper {
      flex-direction: row-reverse;
    }
  }
}