.board-grid {
  grid-area: 3 / 2 / 3 / 4;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 4px;
  align-items: stretch;
  justify-items: stretch;
}