.card {
  box-shadow: 0 0 5px rgba(black, .3);
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 5px solid white;
  transition: all $speed $easing, opacity 0s;
  margin: 10px;

  &.invisible {
    opacity: 0 !important;
  }

  &.animating {
    transition: 0s $speed $easing;
    z-index: 10000;
  }

  .title {
    margin: 5px;
    text-align: center;
    font-size: 12px;
    transition: color $speed $easing;
  }

  &[data-swap="true"] {
    border: 5px solid #ebebeb;
    opacity: .7;

    .title {
      color: #dcdcdc;
    }
  }

  &[data-selected="true"] {
    border-color: #f8e269 !important;
  }
}

[data-active-player="1"] .card {
  &[data-owner="1"]:not([data-swap="true"]) {
    cursor: pointer;
  }

  &[data-owner="1"]:not([data-swap="true"]):hover {
    border-color: #f6f8cf;
  }
}

[data-active-player="2"] .card {
  &[data-owner="2"]:not([data-swap="true"]) {
    cursor: pointer;
  }

  &[data-owner="2"]:not([data-swap="true"]):hover {
    border-color: #f6f8cf;
  }
}

@media (min-width: 450px) {
  .card {
    .title {
      font-size: 16px;
    }
  }
}