.card {
  height: 150px;
  border: 1px solid gray;
  padding: 0 20px;
  background-color: white;
  border-radius: 10px;

  &.red {
    .set {
      background-color: rgba(red, .5);
    }
  }

  &.green {
    .set {
      background-color: rgba(green, .5);
    }
  }

  &.blue {
    .set {
      background-color: rgba(blue, .5);
    }
  }

  .title {
    margin: 0;
  }

  &.selected {
    border: 4px solid red;
  }

  &[data-owner="1"][data-delta="0"] {
    grid-area: 2 / 2 / 3 / 3;
  }

  &[data-owner="1"][data-delta="1"] {
    grid-area: 2 / 3 / 3 / 4;
  }

  &[data-owner="2"][data-delta="0"] {
    grid-area: 4 / 2 / 4 / 3;
  }

  &[data-owner="2"][data-delta="1"] {
    grid-area: 4 / 3 / 4 / 4;
  }

  &[data-owner="false"] {
    grid-area: 3 / 4 / 3 / 4;
    align-self: center;
  }
}

[data-active-player="1"] .card[data-owner="1"],
[data-active-player="2"] .card[data-owner="2"] {
  cursor: pointer;
}