.deck {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  transition: border $speed $easing;
  padding: 20px 0;

  &.swap {
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 40px;
  }
}
