.piece {
  z-index: 2;
  position: absolute;
  background-color: rgba(gray, 0);
  transition: background $speed $easing, top $speed $easing, left $speed $easing;
  width: 20%;
  height: 20%;

  &:after {
    content: '';
    display: block;
    height: 50%;
    width: 50%;
    transition: border $speed $easing, background $speed $easing;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  &.master:after {
    border-radius: 0;
  }

  &.moving {
    transition: background 0s $easing, top $speed $easing, left $speed $easing;
  }
}

.piece.owner-1 {
  &:after {
    border: 2px solid $player1;
    background-color: rgba($player1, .3);
  }
} 

.piece.owner-2:after {
  border: 2px solid $player2;
  background-color: rgba($player2, .3);
}

[data-active-player="1"] {
  .piece.owner-1 {
    cursor: pointer;
  }

  .piece.owner-2 {
    pointer-events: none;
  }

  .piece.owner-1:not([data-selected="true"]):hover {
    background-color: rgba(#ffdd86, .5);
  }

  .piece.owner-1[data-selected="true"] {
    background-color: #ffdd86;

    &:after {
      border-width: 6px !important;
    }
  }
}

[data-active-player="2"] {
  .piece.owner-2 {
    cursor: pointer;
  }

  .piece.owner-1 {
    pointer-events: none;
  }

  .piece.owner-2:not([data-selected="true"]):hover {
    background-color: rgba(#ffdd86, .5);
  }

  .piece.owner-2[data-selected="true"] {
    background-color: #ffdd86;

    &:after {
      border-width: 6px !important;
    }
  }
}
