#webrtc-copy-answer,
#webrtc-offer-url {
  width: 0;
  height: 0;
  position: fixed;
  left: -1000px;
}

[data-webrtc-state="initial"] .step-2,
[data-webrtc-state="offer-copied"] .step-1,
[data-webrtc-state="answer-copied"] .step-1,
[data-webrtc-state="started"],
[data-webrtc-role="answerer"] .webrtc-signaling.initiator,
[data-webrtc-role="initiator"] .webrtc-signaling.answerer {
  display: none;
}

[data-webrtc-role="initiator"] .webrtc-signaling.initiator,
[data-webrtc-role="answerer"] .webrtc-signaling.answerer {
  display: block;
}

.webrtc-signaling {
  padding: $padding;
  border: 2px solid #eee;
  grid-area: 3 / 2 / 4 / 5;
  display: grid;

  textarea {
    width: 100%;
    margin-bottom: 20px;
    height: 140px;
  }
}

[data-connection="websockets"] {
  .webrtc-signaling {
    display: none;
  }
}